img {
  max-width: 100%;
  height: auto;
}
.App {
  text-align: center;
  color: #273045;
  font-family: 'Sentinel-Book';
  height: 100%;
}
.client-header {
  font-size: 22px;
  margin-top: 26px;
  font-family: 'Colfax';
}
.client-header .client-logo {
  width: 35px;
  height: 35px;
  display: inline-block;
  vertical-align: middle;
}
.client-header .client-logo img {
  height: 100%;
}
.client-header span {
  position: relative;
  top: 3px;
  left: 6px;
}
h2 {
  font-size: 26px;
  font-weight: 400;
}
h2 span {
  font-weight: bold;
}
.back-btn {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 40px;
  height: 40px;
  border-radius: 100px;
  border: 2px solid #fff;
  cursor: pointer;
}
.back-btn:hover {
  border: 2px solid #76C4DE;
}
#error-message {
  color: #ff0000;
  border: 1px solid;
  padding: 10px 30px;
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  top: 88px;
  display: none;
}
.thanks-msg {
  font-family: Montserrat-Bold;
  font-size: 16px;
  color: #4ACE74;
  letter-spacing: 1.19px;
  margin-top: 84px;
}
.thanks-msg .checkmark {
  position: relative;
  top: 7px;
}
.next-button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid;
  color: #F57023;
  font-weight: bold;
  font-size: 33px;
  line-height: 50px;
  cursor: pointer;
  transition: transform 0.4s;
}
.next-button:hover {
  transform: scale(1.2);
}
#info-bar {
  text-transform: capitalize;
  text-align: center;
  border: 2px solid #E1E1E1;
  padding: 7px 18px;
  display: inline-block;
  font-family: Montserrat-Bold;
  font-size: 12px;
  color: #D4D4D4;
  letter-spacing: 1.3px;
  margin-top: 95px;
}
#homeView h2 {
  margin-top: 162px;
}
#homeView #call-selection-box {
  width: 428px;
  margin: 34px auto 0;
  position: relative;
}
#homeView #call-selection-box .selection {
  width: 212px;
  border-radius: 0px 5px 0px 0px;
  border: 1px solid #D2D2D2;
  display: inline-block;
  position: relative;
  margin-left: -1px;
  height: 45px;
  padding-top: 25px;
  color: #CECECE;
  font-size: 14px;
  font-family: 'Montserrat-Bold';
  cursor: pointer;
}
#homeView #call-selection-box .selection:first-child {
  border-radius: 5px 0px 0px;
  width: 213px;
  margin-left: 0;
}
#homeView #call-selection-box .selection.active {
  z-index: 2;
  border-color: #F57023;
  color: #F57023;
}
#homeView #call-selection-box .desc {
  padding: 26px 30px 40px;
  border-radius: 0px 0px 5px 5px;
  border: 1px solid #D2D2D2;
  border-top: none;
  line-height: 26px;
  box-shadow: 0px 34px 39px -27px #ccc;
}
#homeView #call-selection-box .next-button {
  position: absolute;
  left: 110%;
  top: 38%;
}
#selectdateView {
  overflow-x: hidden;
}
#selectdateView h2 {
  margin-top: 34px;
}
#selectdateView .next-button {
  display: inline-block;
  position: relative;
  top: -74px;
  left: 13px;
}
#selectdateView .date-selector {
  margin: 46px 0 0;
  width: 881px;
  position: relative;
  overflow-x: hidden;
  height: 143px;
  display: inline-block;
}
#selectdateView .date-selector .overflow {
  width: 1750px;
  position: absolute;
  top: 20px;
  left: 0;
  transition: left 1s;
}
#selectdateView .date-selector .overflow.left {
  left: 0;
}
#selectdateView .date-selector .overflow.right {
  left: -875px;
}
#selectdateView .date-selector .today {
  position: absolute;
  top: -24px;
  z-index: 3;
  left: 0px;
  font-family: Montserrat-Bold;
  font-size: 12px;
  color: #4C4C4C;
  letter-spacing: 1.3px;
  line-height: 24px;
  width: 100%;
}
#selectdateView .date-selector .date-box {
  border: 1px solid #E7E7E7;
  border-radius: 5px;
  float: left;
  width: 111px;
  height: 76px;
  cursor: pointer;
  position: relative;
  margin-right: 12px;
  transition: transform 0.3s;
}
#selectdateView .date-selector .date-box:first-child {
  margin-left: 12px;
}
#selectdateView .date-selector .date-box:hover {
  border: 1px solid #F57023;
  transform: scale(1.1);
}
#selectdateView .date-selector .date-box:hover .day-name {
  color: #F57023;
}
#selectdateView .date-selector .date-box:last-child {
  margin-right: 0;
}
#selectdateView .date-selector .date-box .day-name {
  font-family: Montserrat-Bold;
  font-size: 12px;
  color: #C1C1C1;
  letter-spacing: 0.6px;
  line-height: 36px;
}
#selectdateView .date-selector .date-box .date {
  font-size: 18px;
  color: #5E5C5C;
  letter-spacing: 0.19px;
  font-family: 'Colfax';
  line-height: 13px;
}
#selectdateView .date-selector .date-box.active {
  background: #F57023;
}
#selectdateView .date-selector .date-box.active .day-name,
#selectdateView .date-selector .date-box.active .date {
  color: #fff !important;
}
#selectdateView .date-selector #cycleDates {
  font-family: Montserrat-Regular;
  font-size: 12px;
  color: #393939;
  letter-spacing: 0.6px;
  line-height: 24px;
  text-align: right;
  margin-top: 118px;
  cursor: pointer;
}
#selectdateView .date-selector #cycleDates:hover {
  color: #F57023;
}
#selecttimeView h2 {
  margin-top: 34px;
}
#selecttimeView #time-zone {
  margin-top: 19px;
  background-image: linear-gradient(-180deg, rgba(242, 242, 242, 0.56) 0%, rgba(236, 235, 235, 0.72) 100%);
  border: 1px solid #C3C3C3;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1), inset 0 2px 0 0 #FFFFFF;
  border-radius: 3px;
  display: inline-block;
  height: 50px;
  width: 220px;
  line-height: 50px;
  position: relative;
  text-align: left;
  padding-left: 10px;
  font-size: 17px;
  color: #7E7E7E;
  letter-spacing: 0.09px;
  z-index: 3;
  cursor: pointer;
}
#selecttimeView #time-zone .icon {
  position: absolute;
  display: block;
  width: 10px;
  height: 10px;
  top: 25px;
  right: 14px;
}
#selecttimeView #time-zone .dropdown {
  left: 0px;
  position: absolute;
  width: 100%;
  height: 0px;
  overflow: hidden;
}
#selecttimeView #time-zone .dropdown .overflow {
  position: absolute;
  width: 100%;
  transition: top 0.5s;
}
#selecttimeView #time-zone .dropdown .overflow > div {
  height: 35px;
  line-height: 35px;
  background-image: linear-gradient(-180deg, rgba(242, 242, 242, 0.56) 0%, rgba(236, 235, 235, 0.72) 100%);
  border: 1px solid #C3C3C3;
  margin-top: -1px;
  padding-left: 10px;
  cursor: pointer;
}
#selecttimeView #time-zone .dropdown .overflow > div:hover {
  color: #333;
}
#selecttimeView .times-holder {
  margin-top: 39px;
  margin-bottom: 100px;
}
#selecttimeView .times-holder .next-button {
  display: inline-block;
  position: relative;
  top: -102px;
  left: 20px;
}
#selecttimeView .times-holder .times {
  display: inline-block;
  width: 420px;
}
#selecttimeView .times-holder .times .row {
  margin-top: 13px;
}
#selecttimeView .times-holder .times .row > div {
  display: inline-block;
  width: 198px;
  border: 1px solid #D8D8D8;
  border-radius: 5px;
  padding: 19px 0;
  font-family: Montserrat-Regular;
  font-size: 15px;
  color: #9B9B9B;
  letter-spacing: 1.2px;
  cursor: pointer;
}
#selecttimeView .times-holder .times .row > div:first-child {
  margin-right: 20px;
}
#selecttimeView .times-holder #am {
  margin-right: 60px;
}
#selecttimeView .times-holder #am .time-slot:hover {
  border: 1px solid;
  color: #F68600;
}
#selecttimeView .times-holder #am .time-slot.selected {
  background: #F68600;
  color: #fff;
}
#selecttimeView .times-holder #pm .time-slot:hover {
  color: #49B1D3;
  border: 1px solid;
}
#selecttimeView .times-holder #pm .time-slot.selected {
  background: #49B1D3;
  color: #fff;
}
.contactView h2 {
  margin-top: 34px;
}
.contactView .next-button {
  position: absolute;
  left: 107%;
  top: 40%;
}
.contactView .contact-form {
  width: 463px;
  display: inline-block;
  position: relative;
  margin-top: 19px;
}
.contactView .contact-form form input,
.contactView .contact-form form textarea {
  background: #F9F7F7;
  border: 0 solid #E5E5E5;
  box-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, 0.54);
  border-radius: 3px;
  font-family: Sentinel-Book;
  font-size: 20px;
  color: #000000;
  letter-spacing: -0.26px;
}
.contactView .contact-form form input {
  width: 220px;
  height: 47px;
  text-align: center;
}
.contactView .contact-form form input:first-child {
  margin-right: 19px;
}
.contactView .contact-form form textarea {
  display: block;
  width: 423px;
  height: 147px;
  padding: 20px;
  margin-top: 15px;
  resize: none;
}
.thanksView h2 {
  margin-top: 32px;
}
.thanksView .thanks-box {
  background: #8EC2CE;
  border-radius: 5px;
  width: 625px;
  margin: 0 auto;
  padding: 17px 0 50px 94px;
}
.thanksView .thanks-box .square {
  float: left;
  width: 30%;
  text-align: left;
  margin-top: 28px;
}
.thanksView .thanks-box .square .title {
  font-family: Montserrat-Bold;
  font-size: 12px;
  color: #B5E7F3;
  letter-spacing: 1.3px;
}
.thanksView .thanks-box .square .desc {
  font-size: 22px;
  color: #FFFFFF;
  letter-spacing: 0;
  text-transform: capitalize;
  margin-top: 14px;
}
.thanksView .footer {
  width: 390px;
  margin: 20px auto 0;
}
.thanksView .footer a {
  color: #49B1D3;
  text-decoration: none;
}
